.nba-teams-container{ng: {app: "nbaTeams", controller: "nbaTeamsController"}}
  .row
    %h1 NBA Team Stats

  .row
    %table.nba-teams-table.columns.large12
      %thead
        %tr.query-teams
          %th{colspan: 20} QUERY TEAMS
        %tr.stat-category
          %th RANK
          %th TEAM
          %th GP
          %th W
          %th L
          %th Win%
          %th HOME
          %th AWAY
          %th L10
          %th POS
          %th PACE
          %th ORTG
          %th DRTG
          %th NRTG
          / %th STAT
          / %th STAT
          / %th STAT
          / %th STAT
      %tbody
        = render partial: "team_stat_line"

- content_for :page_specific_scripts do
  = javascript_include_tag "ng/nba_teams/app"
