%ul.breadcrumbs
  %li
    = link_to "nba teams", teams_url
  %li.current
    = link_to @team.display_name, team_url(@team)

%h1= @team.display_name

%ul.pricing-table
  %li.title Roster
  - @team.roster.each do |player|
    %li.bullet-item
      =link_to player.display_name, player_url(player)
