body.nba_players-show {

  .row {
    width: 100%;
    position: relative;

    .cell {
      width: 75px;
      float: left;
      text-align: center; }

  }

  .total-stats {

    .stats-header {
      font-weight: bold; }
  }


}
