body.nba_players-show {

}

body.nba_players-index {

  .featured-players {
    div {
      background-color: green;
      margin-bottom: 10px; } }

  .filter-players {
    text-align: center;
  }

  table.nba-players {
    cursor: pointer;
    th { text-align: center; }
    td { text-align: center; }

    tbody {
      tr {
        &:hover {
          background-color: #FFEC8B; } } } }

}
